In [5]:
import pandas as pd

In [ ]:
pip install mlxtend

In [9]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [10]:
data = [
    ['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
    ['dill','onion','nutmeg','kidney beans','eggs','yogurt'],
    ['milk','apple','kidney beans','eggs'],
    ['milk','unicorn','corn','kidney beans','yogurt'],
    ['corn','onion','onion','kidney beans','ice creams','eggs']
]

In [11]:
data

[['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
 ['dill', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
 ['milk', 'apple', 'kidney beans', 'eggs'],
 ['milk', 'unicorn', 'corn', 'kidney beans', 'yogurt'],
 ['corn', 'onion', 'onion', 'kidney beans', 'ice creams', 'eggs']]

In [12]:
te=TransactionEncoder()

In [14]:
transform_data=te.fit(data).transform(data)

In [15]:
df = pd.DataFrame(transform_data, columns = te.columns_)

In [16]:
df

,apple,corn,dill,eggs,ice creams,kidney beans,milk,nutmeg,onion,unicorn,yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [23]:
frequent_item = apriori(df, min_support=0.6, use_colnames=True)

In [24]:
frequent_item

    support                     itemsets
0       0.8                       (eggs)
1       1.0               (kidney beans)
2       0.6                       (milk)
3       0.6                      (onion)
4       0.6                     (yogurt)
5       0.8         (kidney beans, eggs)
6       0.6                (onion, eggs)
7       0.6         (kidney beans, milk)
8       0.6        (kidney beans, onion)
9       0.6       (kidney beans, yogurt)
10      0.6  (kidney beans, onion, eggs)

In [32]:
result = association_rules(frequent_item, metric='confidence', min_threshold=0.7)

In [33]:
result

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(kidney beans),(eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0,0.0
1,(eggs),(kidney beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,0.0
2,(onion),(eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
3,(eggs),(onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
4,(milk),(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
5,(onion),(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
6,(yogurt),(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
7,"(kidney beans, onion)",(eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
8,"(kidney beans, eggs)",(onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
9,"(onion, eggs)",(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
10,(onion),"(kidney beans, eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
11,(eggs),"(kidney beans, onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0